.WeatherTemperature > h5 {
  text-align: right;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: bold;
}

h5 > span {
  color: var(--primary-color);
}

#unit-link {
  text-decoration: none;
  color: var(--primary-color);
}

#unit-link:hover {
  color: var(--secondary-color);
}

h1 {
  font-size: 2.8rem;
}
