:root {
  --primary-color: #fafafa;
  --secondary-color: rgb(236, 110, 76);
}

.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 10px auto 10px;
  padding: 20px;
  /* background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  ); */

  background: linear-gradient(
    to bottom,
    rgb(21, 74, 189) 10%,
    rgb(26, 138, 211) 80.5%,
    rgb(72, 177, 234) 100.2%
  );

  color: var(--primary-color);
  text-transform: capitalize;
}

.Weather .overview {
  margin: 2rem 0;
}

.overview h3 {
  margin-top: 0.3rem;
  font-size: 1.8rem;
}

.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather .detail {
  text-align: left;
}

.Weather .unit {
  margin-left: 0.5rem;
  font-size: 1.75rem;
  position: relative;
  bottom: 1rem;
}

.number {
  font-family: "Poppins", sans-serif;
}
