.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  margin: 30px auto 10px;
  padding: 20px;
  background: radial-gradient(
    circle at 1.8% 4.8%,
    rgb(17, 23, 58) 0%,
    rgb(58, 85, 148) 90%
  );
  color: #fafafa;
  text-transform: capitalize;
}

.Weather h1 {
  font-size: 48px;
}

.Weather .overview {
  margin: 3rem 0 5rem 0;
}

.Weather ul {
  padding: 0;
  margin: 0;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Weather input {
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.Weather input:focus {
  outline: none;
}

.Weather .search {
  padding: 1rem;
}

.Weather .search-icon {
  margin-left: 1rem;
  border-radius: 0.3rem;
}

.Weather .detail {
  text-align: left;
}

.Weather .unit {
  margin-left: 0.5rem;
  font-size: 1.75rem;
  position: relative;
  bottom: 1rem;
}
